.bg_footer {
  // background-image: url(../../../public/assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}
